:root {
    --typed-color: #98c379;
    --wrong-color: #e06c75;
    --pending-color: #ffffff;
}

.hljs {
    padding: 0 !important;
    margin: 0 !important;
    border: none !important;
  }

.typed, .pending, .wrong, .currentInput{
    font-family: 'D2Coding' !important;
    /* font-weight: bold; */
    display: inline-block;
    width: 11px;
}

.typed {
    color: var(--typed-color); /* 초록색 (맞은 글자) */
}

.wrong {
    color: var(--wrong-color); /* 빨간색 (틀린 글자) */
}

.pending {
    color: var(--pending-color); /* 회색 (아직 안 친 글자) */
    opacity: 0.6;
}

.currentLine {
  /* color: var(--pending-color); */
  opacity: 1 !important; /* 현재 타이핑 중인 줄은 opacity 1 */
}

.blinking-cursor {
    animation: blink 1.2s infinite;
  }
  
@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

.single-input {
  font-family: 'D2Coding' !important;
  outline: none; 
}

.cursor {
  display: inline-block;
  width: 1px;
  height: 20px;
  background-color: var(--pending-color); /* 커서 색상 - 원하는 색상으로 변경 가능 */
  /* margin-left: -1px; */
  animation: blink 1s step-end infinite;
}

.cursor-container {
  display: inline-flex;  /* flexbox로 변경하여 정렬을 더 쉽게 처리 */
  vertical-align: baseline;
}


