@font-face {
  font-family: 'NeoDGM';  /* 원하는 글꼴 이름 */
  src: url('./assets/fonts/neodgm.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'NeoDGM', sans-serif;  /* 전역적으로 'NeoDGM' 폰트를 사용 */
  margin: 0;
  padding: 0;
}